:root {
    --header-height: 50px;
}


body {
    padding-top: 70px;
}


a {
    text-transform: uppercase;
}


.page-header {
    outline: solid 1px black;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background: rgb(0, 255, 100, 0.5);
}


.sticky-button {
    position: fixed;
    text-transform: uppercase;
    background-color: darkolivegreen;
    bottom: 50px;
    right: 50px;
    border: 0px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
}